.custom-file {
    background-color: rgb(207, 207, 207);
    padding: 0;
    border: dotted 3px rgb(99, 45, 45);
    opacity: 0.5;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.badge {
    font-weight: 300;
    font-size: 12px;
}

.custom-file-input {
    background-color: red;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
}

mat-icon {
    color: red;
    text-align: center;
    width: 100%;
}