<div class="card p-4 bg-cp">
    <div class="row">
        <h1>Promociones Renovacion</h1>
        <hr>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="custom-file">
                <input type="file" class="custom-file-input" (change)='obtenerArchivo($event)' id="customFile">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <img src="assets/folder.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngIf="nombreDocumento.length==0">
        <p class="lead" *ngIf="!error && !loading">
            Ingrese por favor el documento...
        </p>
        <p class="lead" *ngIf="!error && loading">
            <mat-spinner [diameter]="25" class="d-inline-block me-2"></mat-spinner>
            Leyendo documento, espere..
        </p>
        <p class="lead text-danger" *ngIf="error">
            Error, el documento no es valido. Intentarlo de nuevo.
        </p>
    </div>
    <div class="row mt-3" *ngIf="nombreDocumento.length>0">
        <div class="col-12">
            <b>Status: </b>
            <p class="badge" [ngClass]="badgeClass()">{{statusTexto}}</p>
        </div>
        <div class="col-12">
            <b>Cantidad de promociones: </b>{{numeroPromociones}}
        </div>
        <hr class="my-1">
    </div>
    <div class="row mt-2" *ngIf="nombreDocumento.length>0">
        <div class="col ">
            <button class="btn btn-danger w-100" (click)="cargarData()" [disabled]="datacargada">
                {{txt_boton_carga}}
            </button>
        </div>
    </div>
</div>