<div class="card">
    <div class="row align-items-center">
        <div class="col-7 colpadre">
            <input type="file" class="custom-file-input" (change)='obtenerArchivo($event)' id="customFile">
            <img src="../../../assets/work.png" alt="" class="img-fluid">
        </div>
        <div class="col-5">
            <div class="row pe-2">
                <div class="col">
                    <p class="h1 text-muted" style="letter-spacing: 3px;">Inventario</p>
                    <hr>
                </div>
            </div>
            <div class="row pe-3">
                <div class="col">
                    <p class="lead">
                        <mat-icon class="text-muted" style="vertical-align: text-bottom !important;">arrow_back_ios</mat-icon>
                        Ingrese por favor el inventario...
                    </p>
                </div>
            </div>
            <div class="row pe-3 mt-3">
                <div class="col">
                    <button class="btn btn-danger w-100">Cargar data</button>
                </div>
            </div>
        </div>
    </div>
</div>