.fondo {
    margin-top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0e1a30 0%, #1D3461 30%);
}

.custom-file-input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    /* background-color: red; */
    position: absolute;
    cursor: pointer;
    height: 100%;
}

.colpadre {
    position: relative;
    overflow: hidden;
    background-color: #0e1a30;
    color: white;
}