<div class="fondo">
    <div class="container pb-3">
        <app-navbar-admin></app-navbar-admin>

        <div class="row px-2 justify-content-between">
            <div class="col-3 card text-white" style="background-color: rgba(0, 0, 0, 0.4);">
                <div class="card-title mt-2">
                    Pdvs:
                </div>
                <div class="card-body text-center" style="font-size: 50px; font-weight: lighter;">
                    134
                </div>
            </div>
            <div class="col-3 card text-white" style="background-color: rgba(0, 0, 0, 0.4);">
                <div class="card-title mt-2">
                    Usuarios:
                </div>
                <div class="card-body text-center" style="font-size: 50px; font-weight: lighter;">
                    700
                </div>
            </div>
            <div class="col-5 card bg-cp">
                <div class="card-title mt-2">
                    <b>Actualzar Pdvs:</b>
                </div>
                <div class="card-body">
                    <div class="colpadre btn w-100 d-flex justify-content-center">
                        <input type="file" class="custom-file-input">
                        <mat-icon class="mx-2">folder</mat-icon>
                        <div>
                            Ingresar directorio de tiendas
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-2 justify-content-end">
            <div class="col-5 card bg-cp">
                <div class="card-body">
                    <button class="btn btn-danger w-100 d-flex justify-content-center">
                        <mat-icon class="mx-2">upload</mat-icon>
                        <div>
                            Actualizar Pdvs
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>