<div class="container-fluid" style="height: 100vh;">
    <div class="row align-items-center" style="height: 100%;">
        <div class="col-4 p-5 loginCarta align-items-center">
            <div class="row align-items-center" style="height: 100%;">
                <div class="col">
                    <div class="row ">
                        <h1 style="font-weight: lighter;">Elipgo</h1>
                    </div>
                    <hr>
                    <div class="row mt-5">
                        <div class="form-group">
                            <label for="usuario">Usuario</label>
                            <input type="text" name="usuario" id="usuario" [(ngModel)]="usuario.user" class="form-control" placeholder="Ingrese el usuario" aria-describedby="helpId">
                        </div>
                        <div class="form-group mt-3">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" id="password" [(ngModel)]="usuario.password" class="form-control" placeholder="Ingrese la contrseña" aria-describedby="helpId">
                        </div>
                        <div class="form-group mt-5">
                            <button type="button" (click)="Login()" name="" id="" class="btn btn-primary" style="width: 100%; height: 50px; font-size: 20px;">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col offset-6">
        </div>
    </div>
</div>