<div class="card p-4 bg-cp">
    <div class="row">
        <h1>Promociones Pospago</h1>
        <hr>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="custom-file">
                <input type="file" class="custom-file-input" (change)='obtenerArchivo($event)' id="customFile">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <img src="assets/folder.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngIf="nombreDocumento.length==0">
        <div class="col text-center lead" *ngIf="!error">
            Ingrese el documento, por favor...
        </div>
        <div *ngIf="error" class="text-danger lead">
            El documento que usted ha subido, no es valido.
        </div>
    </div>
    <div class="row mt-3" *ngIf="nombreDocumento.length>0">
        <div class="col-12 lead">
            <b>Nombre Documento: </b>{{nombreDocumento}}
        </div>
        <div class="col-12 lead">
            <b>Promociones:</b> {{numeroPromociones}}
        </div>
        <div class="col-12 lead">
            <b>Status: </b>
            <p class="badge" [ngClass]="badgeClass()">{{statusTexto}}</p>
        </div>
    </div>
    <div class="row mt-2" *ngIf="nombreDocumento.length>0">
        <div class="col ">
            <button class="btn btn-danger w-100" (click)="cargarData()">Cargar data</button>
        </div>
    </div>
</div>