<div class="fondo">
    <div class="container pt-2 pb-3">
        <div class="row design-title rounded justify-content-between">
            <div class="col-auto">
                <p class="text-white p-3 mt-2 h5" style="font-weight: 500; letter-spacing: 5px;">Terminales</p>
            </div>
            <div class="col-auto align-self-center mr-2">
                <button class="btn btn-secondary">Cargar Altas</button>
            </div>
        </div>
        <hr>
        <div class="row g-3">
            <app-inventario></app-inventario>
        </div>
        <hr>
        <div class="row g-3">
            <div class="col">
                <app-promociones-prepago></app-promociones-prepago>
            </div>
            <div class="col">
                <app-promociones-pospago></app-promociones-pospago>
            </div>
            <div class="col">
                <app-promociones-renovacion></app-promociones-renovacion>
            </div>
        </div>
        <hr>
        <!-- <div class="row  g-3">
            <div class="col-4">
                <app-promociones-pospago></app-promociones-pospago>
            </div>
            <div class="col-8">

            </div>
        </div> -->

    </div>
</div>