<div class="fondo">
    <!-- <app-navbar-admin></app-navbar-admin> -->
    <div class="container pt-2 pb-3">
        <hr>
        <div class="row g-3">
            <app-inventario></app-inventario>
        </div>
        <hr>
        <div class="row g-3">
            <div class="col">
                <app-promociones-prepago></app-promociones-prepago>
            </div>
            <div class="col">
                <app-promociones-pospago></app-promociones-pospago>
            </div>
            <div class="col">
                <app-promociones-renovacion></app-promociones-renovacion>
            </div>
        </div>
        <hr>
        <div class="row g-3">
            <div class="col-10">
                <app-tiendas></app-tiendas>
            </div>
            <div class="col-12">

            </div>
        </div>

    </div>
</div>