<div class="container-fluid px-sm-5 py-4 mb-2">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="row bg-cp rounded mx-md-2">
                <div class="col-12 pt-3">
                    <p class="text-muted">Ingrese lo siguiente: </p>
                    <mat-form-field class="example-full-width w-100" appearance="fill">
                        <mat-label>IDPDV</mat-label>
                        <input matInput aria-label="IDPDV" [matAutocomplete]="auto" [formControl]="stateCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let tienda of filtroTiendas | async" [value]="tienda.IDPDV">
                                <span>{{tienda.IDPDV}}</span> |
                                <small>Cac: {{tienda.TIENDA}}</small>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-12" *ngIf="tiendaSeleccionada">
                    <hr class="d-none d-md-block">
                    <p class="d-none d-md-block display-6 text-center" style="font-weight: 100;">{{tiendaSeleccionada.TIENDA}} </p>
                    <div class="d-none d-md-flex justify-content-center">
                        <h4 class="mx-sm-2 badge shadow bg-dark">{{tiendaSeleccionada.TERRITORIO}}</h4>
                        <h4 class="ms-1 badge shadow bg-secondary">{{tiendaSeleccionada.IDPDV}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="row bg-cp rounded align-items-center mt-5 mt-md-0">
                <div class="col-12  d-sm-flex align-items-center justify-content-between mb-1 mt-4" *ngIf="tiendaSeleccionada">
                    <p class="d-block d-md-none  display-5" style="font-weight: 100;">{{tiendaSeleccionada.TIENDA}}</p>
                    <div class="d-flex d-md-none">
                        <h6 class="mx-sm-2 badge shadow bg-dark">{{tiendaSeleccionada.TERRITORIO}}</h6>
                        <h6 class="ms-1 badge shadow bg-secondary">{{tiendaSeleccionada.IDPDV}}</h6>
                    </div>
                </div>
                <div class="col-12 mt-2 mt-md-0 mx-md-2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" routerLinkActive="active" routerLink="prepago">Prepago</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" routerLink="pospago" routerLinkActive="active">Pospago</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" routerLink="renovaciones" routerLinkActive="active">Renovación</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="col-12 my-2 pb-3">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>