.color1 {
    color: #000000;
}

.color2 {
    color: #211e30;
}

.color3 {
    color: #69647f;
}

.color4 {
    color: #bebcd9;
}

.color5 {
    color: #f0e8f6;
}

.container-fluid {
    /* background: #211e30; */
    background: linear-gradient(180deg, #0e1a30 0%, #1D3461 10%);
    /* height: 100% !importan; */
}

.bg-cp {
    background-color: #f3f3f3;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #1D3461;
}